
.class{
    color:white;
    background-color: blue;
}

#fourth_h1{
    color:aqua;
    background-color: hotpink;
}

.class2{
    color:white;
    background-color: black;
}

#third_div{
    color:bisque;
    background-color: aquamarine;
}